@using Leelite.Application.Clients;
@{
    Layout = "_Layout";
}

@section GlobalStyles {
    <link href="~/home_assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/home_assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/home_assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/home_assets/css/components.min.css" rel="stylesheet" type="text/css">
}

@section Styles {
    @RenderSection("Styles", required: false)
}

@{
    var client = Leelite.Application.ApplicationManager.Clients.Find(c => c.Code == "Home");
    if (client == null)
    {
        client = new Leelite.Application.Clients.Client();
    }

    var currentPath = ViewContext.HttpContext.Request.Path.Value;
}

<div class="navbar-top">
    <!-- Main navbar -->
    <div class="navbar navbar-dark bg-secondary navbar-expand-lg fixed-top px-lg-0">
        <div class="container-fluid container-boxed jusitfy-content-start">
            <div class="navbar-brand">
                <a href="index.html" class="d-inline-flex align-items-center">
                    <img src="~/global_assets/images/logo_icon.svg" alt="">
                    <img src="~/global_assets/images/logo_text_light.svg" class="d-none d-sm-inline-block h-16px ms-3" alt="">
                </a>
            </div>

            <div class="d-lg-none">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-mobile" aria-expanded="false">
                    <i class="ph-squares-four"></i>
                </button>
            </div>

            <div class="navbar-collapse order-2 order-lg-1 collapse" id="navbar-mobile" style="">
                <ul class="navbar-nav gap-lg-2 mt-2 mt-lg-0">
                    @foreach (var item in client.NavMenus)
                    {
                        if (item.Items.Count > 0)
                        {
                            <li class="nav-item dropdown">
                                <a target="@item.Target" href="@item.Url" class="navbar-nav-link rounded-pill dropdown-toggle @(currentPath.Contains(item.Url)?"active":"")" data-bs-toggle="dropdown">@item.Name</a>
                                <div class="dropdown-menu">
                                    @foreach (var subItem in item.Items)
                                    {
                                        <a target="@item.Target" href="@item.Url" class="dropdown-item">@subItem.Name</a>
                                    }
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a target="@item.Target" href="@item.Url" class="navbar-nav-link rounded-pill @(currentPath.Contains(item.Url)?"active":"")">
                                    @item.Name
                                </a>
                            </li>
                        }

                    }
                </ul>
            </div>

            <ul class="nav gap-sm-2 order-1 order-lg-2 ms-auto">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded">
                        <i class="ph-bell"></i>
                        <span class="badge bg-yellow text-black position-absolute top-0 end-0 translate-middle-top zindex-1 rounded-pill mt-1 me-1">2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded">
                        <i class="ph-chats"></i>
                    </a>
                </li>

                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page header -->
    <div class="page-header page-header-light shadow">
        <div class="page-header-content container-boxed d-lg-flex">
            <div class="d-flex">
                <h4 class="page-title mb-0">
                    General Pages - <span class="fw-normal">Feed</span>
                </h4>

                <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                    <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                </a>
            </div>

            <div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                    <div class="dropdown w-100 w-sm-auto">
                        <a href="#" class="d-flex align-items-center text-body lh-1 dropdown-toggle py-sm-2" data-bs-toggle="dropdown" data-bs-display="static">
                            <img src="~/global_assets/images/brands/tesla.svg" class="w-32px h-32px me-2" alt="">
                            <div class="me-auto me-lg-1">
                                <div class="fs-sm text-muted mb-1">Customer</div>
                                <div class="fw-semibold">Tesla Motors Inc</div>
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-lg-end w-100 w-lg-auto wmin-300 wmin-sm-350 pt-0">
                            <div class="d-flex align-items-center p-3">
                                <h6 class="fw-semibold mb-0">Customers</h6>
                                <a href="#" class="ms-auto">
                                    View all
                                    <i class="ph-arrow-circle-right ms-1"></i>
                                </a>
                            </div>
                            <a href="#" class="dropdown-item active py-2">
                                <img src="~/global_assets/images/brands/tesla.svg" class="w-32px h-32px me-2" alt="">
                                <div>
                                    <div class="fw-semibold">Tesla Motors Inc</div>
                                    <div class="fs-sm text-muted">42 users</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item py-2">
                                <img src="~/global_assets/images/brands/debijenkorf.svg" class="w-32px h-32px me-2" alt="">
                                <div>
                                    <div class="fw-semibold">De Bijenkorf</div>
                                    <div class="fs-sm text-muted">49 users</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item py-2">
                                <img src="~/global_assets/images/brands/klm.svg" class="w-32px h-32px me-2" alt="">
                                <div>
                                    <div class="fw-semibold">Royal Dutch Airlines</div>
                                    <div class="fs-sm text-muted">18 users</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item py-2">
                                <img src="~/global_assets/images/brands/shell.svg" class="w-32px h-32px me-2" alt="">
                                <div>
                                    <div class="fw-semibold">Royal Dutch Shell</div>
                                    <div class="fs-sm text-muted">54 users</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item py-2">
                                <img src="~/global_assets/images/brands/bp.svg" class="w-32px h-32px me-2" alt="">
                                <div>
                                    <div class="fw-semibold">BP plc</div>
                                    <div class="fs-sm text-muted">23 users</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3"></div>

                    <div class="d-inline-flex mt-3 mt-sm-0">
                        <a href="#" class="status-indicator-container ms-1">
                            <img src="~/global_assets/images/users/face24.jpg" class="w-32px h-32px rounded-pill" alt="">
                            <span class="status-indicator bg-warning"></span>
                        </a>
                        <a href="#" class="status-indicator-container ms-1">
                            <img src="~/global_assets/images/users/face1.jpg" class="w-32px h-32px rounded-pill" alt="">
                            <span class="status-indicator bg-success"></span>
                        </a>
                        <a href="#" class="status-indicator-container ms-1">
                            <img src="~/global_assets/images/users/face3.jpg" class="w-32px h-32px rounded-pill" alt="">
                            <span class="status-indicator bg-danger"></span>
                        </a>
                        <a href="#" class="btn btn-outline-primary btn-icon w-32px h-32px rounded-pill ms-3">
                            <i class="ph-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header-content container-boxed d-lg-flex border-top">
            <div class="d-flex">
                <div class="breadcrumb py-2">
                    <a href="index.html" class="breadcrumb-item"><i class="ph-house"></i></a>
                    <a href="#" class="breadcrumb-item">General pages</a>
                    <span class="breadcrumb-item active">Feed</span>
                </div>

                <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                    <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                </a>
            </div>

            <div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements">
                <div class="d-lg-flex mb-2 mb-lg-0">
                    <a href="#" class="d-flex align-items-center text-body py-2">
                        <i class="ph-lifebuoy me-2"></i>
                        Support
                    </a>

                    <div class="dropdown ms-lg-3">
                        <a href="#" class="d-flex align-items-center text-body dropdown-toggle py-2" data-bs-toggle="dropdown">
                            <i class="ph-gear me-2"></i>
                            <span class="flex-1">Settings</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end w-100 w-lg-auto">
                            <a href="#" class="dropdown-item">
                                <i class="ph-shield-warning me-2"></i>
                                Account security
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ph-chart-bar me-2"></i>
                                Analytics
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ph-lock-key me-2"></i>
                                Privacy
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="ph-gear me-2"></i>
                                All settings
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page header -->
</div>

<!-- Page content -->
<div class="page-content">
    @RenderBody()
</div>
<!-- /page content -->
<!-- Footer -->
<div class="navbar navbar-sm navbar-footer border-top px-lg-0">
    <div class="container-fluid container-boxed">
        <span>&copy; 2022 <a asp-area="" asp-page="">Leelite Home</a></span>

        <ul class="nav">
            <li class="nav-item">
                <a href="https://kopyov.ticksy.com/" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
                    <div class="d-flex align-items-center mx-md-1">
                        <i class="ph-lifebuoy"></i>
                        <span class="d-none d-md-inline-block ms-2">Support</span>
                    </div>
                </a>
            </li>
            <li class="nav-item ms-md-1">
                <a href="https://demo.interface.club/limitless/demo/Documentation/index.html" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
                    <div class="d-flex align-items-center mx-md-1">
                        <i class="ph-file-text"></i>
                        <span class="d-none d-md-inline-block ms-2">Docs</span>
                    </div>
                </a>
            </li>
            <li class="nav-item ms-md-1">
                <a asp-area="" asp-page="/Privacy" class="navbar-nav-link navbar-nav-link-icon text-primary bg-primary bg-opacity-10 fw-semibold rounded" target="_blank">
                    <div class="d-flex align-items-center mx-md-1">
                        <i class="ph-shield-chevron"></i>
                        <span class="d-none d-md-inline-block ms-2">Privacy</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /footer -->
@section ScriptsPlugins {
    @RenderSection("ScriptsPlugins", required: false)
}

@section Scripts {
    <script src="~/home_assets/js/app.js"></script>
    @RenderSection("Scripts", required: false)
}